<div class="input-group">
  <input type="text" ng-class="config.input.class" id="{{config.input.id}}" name="{{config.input.name}}" placeholder="{{config.input.placeholder}}" ng-model="inputLabelModel">
  <input type="file" class="hidden" id="{{config.fileInput.id}}" name="{{config.fileInput.name}}" ng-model="fileInputModel">
  <span class="input-group-btn">
        <!--<button type="button" ng-class="btn.class" ng-bind-html="btn.text" ng-repeat="btn in config.buttons" ng-if="btn.visible" ng-show="btn.show" ng-click="btn.events.openFileBrowser()"></button>-->
        <button type="button" ng-class="config.buttons.select.class" ng-bind-html="config.buttons.select.text" ng-click="openFileBrowser()" ng-if="config.buttons.select.active" ng-show="config.buttons.select.show"></button>
        <button type="button" ng-class="config.buttons.upload.class" ng-bind-html="config.buttons.upload.text" ng-if="config.buttons.upload.active" ng-show="config.buttons.upload.show" ng-click="upload()"></button>
        <button type="button" ng-class="config.buttons.removeSelection.class" ng-bind-html="config.buttons.removeSelection.text" ng-if="config.buttons.removeSelection.active" ng-show="config.buttons.removeSelection.show" ng-click="removeSelection()"></button>
        <button type="button" class="btn-disabled" ng-class="config.buttons.loading.class" ng-bind-html="config.buttons.loading.text" ng-if="config.buttons.loading.active" ng-show="config.buttons.loading.show"></button>
    </span>
</div>
